$mobile: 420px;
$laptop: 769px;

.DarkMode {
  .node-grid {
    background-color: #333;
  }
}
.grid{
  width: 93%;
  margin: 20px auto;
}

.node-grid{
  @media only screen and (min-width: $mobile) {
  height: 10px;
  width: 100%;
  }

  @media only screen and (min-width: $laptop) {
    height: 100%;
    width: 100%;
  }
}

